:root {
    --canvas-scale: 3;
}

body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 2px solid #555;
    background-color: #000;
    cursor: crosshair;
    image-rendering: pixelated;
    width: calc(160px * var(--canvas-scale));
    height: calc(128px * var(--canvas-scale));
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
